* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background-image: url("img/fondo1.jpg"); /* 👈 IMAGEN DE FONDO */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
}

.botones {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2em;
    color: white;
    transition: transform 0.3s, background 0.3s;
}

.si {
    background-color: #e91e63;
}

.si-o-si {
    background-color: #ff4081;
}

.btn:hover {
    transform: scale(1.1);
}