* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background-image: url("img/fondo2.jpg"); /* 👈 IMAGEN DE FONDO */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    max-width: 400px;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff4081;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 15px;
    font-size: 2em;
}

p {
    font-size: 1.2em;
}